.square {
    background-color: lightgrey;
    border: 1px solid red;
    flex: 1 1;
  }

  .row {
    display: flex;
    flex: 1 1;
  }

  .grid {
    display: flex;
    width: 700px;
    height: 700px;
    flex-direction: column;
    margin: 0 auto;
    border: 5px solid black;
  }

  .colored {
    background-color: black;
    border: 1px solid red;
    flex: 1 1;
  }

  #gridChange{
    display: flex;
    margin: 0 auto ;
  }